li{
    display:inline;
    color:white;
    padding-left:100px;
    height:30px;
    list-style-type:none;
    }
    .a{
        display: flex;
    }

    body{
        background-color: black;
        background-repeat: no-repeat;
    }

    .img{
        display: flex;
    }

    h1{
        color: white;
    }

    .b{
        color: rgb(241, 126, 12);
        font-size: 90px;
        padding-left: 610px;
    }

    button{
        height: 60px;
        width: 180px;
    }

    .st{
        padding-top: 200px;
    }

  button{
   
  }

  a{
  padding-bottom: 50px;
  }

  h2{
    background-color:white;
    align-items: center;
  }
  .k{
    font-size: 100px;
    color: rgb(255, 251, 251);
  }
button:hover{
    background-color: green;
}

  